body {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  div {
    margin-bottom: 10px;
  }
  
  label {
    margin-right: 5px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 5px;
    border: 1px solid #c4d7a7;
  }
  
  thead {
    background-color: #6a3ad9;
  }
  body {
  background-color: #5ea1ee

  }